.content {
    grid-area: c;
    padding: 0 10px 10px 10px;
}

.content>img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.profile>img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    margin-right: 20px;
}

.profile__text {
    font-weight: 700;
    font-size: 16px;
}

.profile__text h2 {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 10px;
    color: #000;
    margin-left: 0;
}