.dialogProfile a{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-top: 1px solid #eee;
    background: #f7f7f7;
    transition: all 0.3s ease 0s;
}

.dialogProfile a.active{
    background: #cfcfcfe3;
}

.dialogProfile:last-child a{
    border-bottom: 1px solid #eee;
}

.dialogProfile a:hover{
    background: #c7c7c7de;
}

.dialogProfile img{
    width: 50px;
}

.text{
    margin-left: 10px;
    color: #000;
}

.text h3{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.text p{
    font-weight: 500;
    font-size: 14px;
}