.header {
    grid-area: h;
    background: #3290bf;
    display: flex;
    align-items: center;
    padding: 5px 20px;
}

img {
    width: auto;
    height: 50px;
    object-fit: contain;
    object-position: center;
}

h2 {
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    margin-left: 20px;
}